@use "../mixin/colors" as color;

.listStyle {
  font-size: 12px;
  line-height: 14px;
  color: color.$black;

  .productImg {
    margin-bottom: 12px;
  }

  .productName,
  .price {
    transition: 0.5s;
  }

  &:hover {
    .productName,
    .price {
      opacity: 0.5;
    }
  }
}
