@use "../mixin/colors" as color;

.listStyle {
  .productImg {
    margin-bottom: 12px;
  }
  .productName {
    font-size: 12px;
    line-height: 14px;
    color: color.$black;
    transition: 0.5s;
  }
  .price {
    font-size: 12px;
    line-height: 14px;
    color: color.$black;
    transition: 0.5s;
  }
  &:hover {
    .productName,
    .price {
      opacity: 0.5;
    }
  }
}
